.order-form-container {
  padding: 10px;
  border: 1px solid black;
}

.order-label-comment {
  display: block;
  margin: 10px 5px;
}

.remove-item-button,
.add-item-button {
  margin-left: 10px;
}

button {
  padding: 5px 10px;
  margin-right: 5px;
  font-size: 15px;
  border-radius: 4px;
  cursor: pointer;
}

select {
  font-size: 18px;
}
